  #map {
    width: 100%;
    height: 85vh;
  }

  #crisis_notification_wrapper {
    height: 85vh;
    overflow-x: auto;
  }

  .collapsible_text_item, .collapsible_text_meta {
    /*position: relative;*/
    display: block;
  }

.crisis_meta_text > .nav-stacked > li {
    padding: 10px;
  }
