#map {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
}

.crisis-img {
  float: left;
}

.products-list .crisis-info {
  margin-left: 250px;
}

.products-list .crisis-title {
    font-weight: 600;
    font-size: 21px;
    color: black;
}

.products-list .crisis-description {
    display: block;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    /*text-overflow: ellipsis;*/
}

.modal-dialog {
    width: 800px;
}
