{% extends "base-assets-home.html" %}
{% load staticfiles %}
{% load tags %}

{% load bootstrap3 %}
{% bootstrap_javascript jquery=1 %}
{% bootstrap_css %}

{% block top_title_text %}Home | SG-EF{% endblock %}

{% block page_plugins_css %}
<link rel="stylesheet" href="{% static "pages/ef_assets/main.style.css" %}">
{% endblock %}

{% block page_plugins_js %}
<script src="{% static "plugins/jquery.scrollto/jquery.scrollTo.min.js" %}"></script>
{% endblock %}

{% block page_scripts %}
<script src="{% static "pages/ef_assets/main.script.js" %}"></script>
<script>

$( document ).ready(function() {


  // show marker on google map for crisis affected locations
  $('body').on('click', '#crisis_instruction_wrapper > div > div > .crisis-title', function(event) {

      locs = $(this).closest("div").find('.location_list > input');
      clearMarkers();

      for(i=0; i<locs.length; i++){
        var loc_latlng = locs[i].value.split(",");
        var pos_lat = Number(loc_latlng[0]);
        var pos_lng = Number(loc_latlng[1]);

        pos = {lat: pos_lat, lng: pos_lng};
        addMarker(pos);
        sgmap.setCenter(pos);

      }

  });


  $('body').on('click', '.crisis_instruction > .nav-stacked > li', function(event) {

      var pos_lat = Number($(this).find('.collapsible_text_meta > .lat').text());
      var pos_lng = Number($(this).find('.collapsible_text_meta > .lng').text());

      clearMarkers();

      pos = {lat: pos_lat, lng: pos_lng};
      addMarker(pos);
      sgmap.setCenter(pos);


  });


});

</script>
<script>

  var markers = [];
  var sgmap;

  function initMap() {
    var sgloc = {lat: 1.3553794, lng: 103.8677444};
    sgmap = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: sgloc,
      mapTypeControl: false,
			streetViewControl: false,
			fullscreenControl: false
    });

    addMarker(sgloc);

  }

  function addMarker(location) {
    var marker = new google.maps.Marker({
      position: location,
      map: sgmap
    });
    markers.push(marker);
  }

  function clearMarkers() {
    for (var j = 0; j < markers.length; j++) {
      markers[j].setMap(null);
    }
    markers = [];
  }

</script>
{% endblock %}

{% block main_body %}

<!-- Main content -->
<section class="content">

    <!-- Google map -->
    <div class="row">

        <div class="col-xs-6" style="padding-right: 0px;">
          <div id="map"></div>
        </div>

        <div id="crisis_instruction_wrapper" class="col-md-6">

          {% for ci in crisis_instructions %}
          <div id="crisis_id_{{ ci.crisis.id }}" class="box box-info">

            <div class="box-header with-border">
              <h3 class="box-title crisis-title" role="button">{{ci.crisis.title}}</h3> {{ci.crisis.created_datetime}}
              <div class="location_list">
              {% for loc in ci.crisis.affected_locations.all %}
              <input type="hidden" value="{{ loc.lat }},{{ loc.lng }}" />
              {% endfor %}
              </div>
              <div class="row">
                  <div class="col-md-12 col-sm-9 col-xs-9">
                    {{ci.crisis.description}}
                  </div>
              </div>
            </div>
            <div class="box-header instruction-header" style="background-color: #f7f7f9;">
              <a data-toggle="collapse" href="#crisis_id_{{ ci.crisis.id }}_instructions" aria-expanded="true" aria-controls="collapseOne" style="color: black;">
                <h3 class="box-title">Instructions</h3> ({{ci.instructions|length}})
              </a>
            </div>
            <div id="crisis_id_{{ ci.crisis.id }}_instructions" class="collapse crisis_instruction">
            <ul class="nav nav-pills nav-stacked">
            {% for instr in ci.instructions %}

            <li id="instruction_id_{{ instr.instruction.id }}" role="button">
              <div class="pull-right">

                {% if instr.has_read %}
                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Read">
                        <i class="fa fa-check"></i>
                </button>
                {% else %}
                <button onclick="mark_instruction_as_read({{instr.instruction.id}})" type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Mark as read">
                        <i class="fa fa-circle-o"></i>
                </button>
                {% endif %}

              </div>
              <div class="collapsible_text_item">
                  {{instr.instruction.text}}
              </div>
              <div class="collapsible_text_meta">
                  <span class="lat">{{instr.instruction.force_lat}}</span>
                  <span role="presentation" aria-hidden="true"> , </span>
                  <span class="lng">{{instr.instruction.force_lng}}</span>
                  <span role="presentation" aria-hidden="true"> · </span>
                  {% get_humanize_datetime instr.instruction.created_datetime %}
              </div>

            </li>


            {% endfor %}
            </ul>
            </div>
          </div>

          {% empty %}

          <div class="box box-info" style="height: 100%;">
            <div class="box-header">

              <div class="emptyContentMessage">
                <br/><br/><br/><br/>
                <div class="msgContent">
                  <i class="fa fa-smile-o"></i><br/>
                  <span>Hooray! No more crisis!</span>
                </div>
              </div>

            </div>
          </div>

          {% endfor %}




        </div>
    </div>

</section>
<!-- /.content -->

{% endblock %}

{% block googlemap_script_block %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key={% google_api_key %}&callback=initMap"></script>
{% endblock %}
