{% extends "base-hq-home.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block top_title_text %}Home | SG-EF{% endblock %}

{% block page_plugins_css %}
<link rel="stylesheet" href="{% static "pages/ef_hq/style.css" %}">
{% endblock %}

{% block page_plugins_js %}
{% endblock %}

{% block page_scripts %}
<script>
  function initMap() {
    var sgloc = {lat: 1.349914, lng: 103.830071};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: sgloc
    });
    var marker = new google.maps.Marker({
      position: sgloc,
      map: map
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE0K5qcQfxR7eERAp3bvGnOpEHFVr5vF8&callback=initMap">
</script>
{% endblock %}

{% block main_body %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Home
      </br>
        <medium>EF HQ Main Summary Page</medium>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
      </ol>
    </section>


    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <body>
              <h3>Crisis Map</h3>
              <div id="map"></div>
            </body>
          </div>
        <div class="col-md-4" style="height: 77vh; overflow-x: auto;">
          <div class="box box-success collapsed-box">
            <div class="box-header with-border">
              <h3 class="box-title">Crisis Title Here</h3>
              <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    Google Place Image
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    Crisis details here
                  </div>
              </div>
            </div>

            <div class="box-header">
              <h3 class="box-title">Instructions</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: none;">
                Some instructions
            </div>
            <div class="box-body" style="display: none;">
                More instructions
            </div>
            <div class="box-header">
              <h3 class="box-title">Strategy</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: none;">
                Some strategies
            </div>
            <div class="box-body" style="display: none;">
                More strategies
            </div>
            <!-- /.box-body -->
          </div>
          <div class="box box-success collapsed-box">
            <div class="box-header with-border">
              <h3 class="box-title">Crisis Title Here</h3>
              <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    Google Place Image
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    Crisis details here
                  </div>
              </div>
            </div>

            <div class="box-header">
              <h3 class="box-title">Instructions</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: none;">
                Some instructions
            </div>
            <div class="box-body" style="display: none;">
                More instructions
            </div>
            <div class="box-header">
              <h3 class="box-title">Strategy</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: none;">
                Some strategies
            </div>
            <div class="box-body" style="display: none;">
                More strategies
            </div>
            <!-- /.box-body -->
          </div>
          <div class="box box-success collapsed-box">
            <div class="box-header with-border">
              <h3 class="box-title">Crisis Title Here</h3>
              <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    Google Place Image
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    Crisis details here
                  </div>
              </div>
            </div>

            <div class="box-header">
              <h3 class="box-title">Instructions</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: none;">
                Some instructions
            </div>
            <div class="box-body" style="display: none;">
                More instructions
            </div>
            <div class="box-header">
              <h3 class="box-title">Strategy</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: none;">
                Some strategies
            </div>
            <div class="box-body" style="display: none;">
                More strategies
            </div>
            <!-- /.box-body -->
          </div>
          <div class="box box-success collapsed-box">
            <div class="box-header with-border">
              <h3 class="box-title">Crisis Title Here</h3>
              <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    Google Place Image
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    Crisis details here
                  </div>
              </div>
            </div>

            <div class="box-header">
              <h3 class="box-title">Instructions</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: none;">
                Some instructions
            </div>
            <div class="box-body" style="display: none;">
                More instructions
            </div>
            <div class="box-header">
              <h3 class="box-title">Strategy</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: none;">
                Some strategies
            </div>
            <div class="box-body" style="display: none;">
                More strategies
            </div>
            <!-- /.box-body -->
          </div>
          <div class="box box-success collapsed-box">
            <div class="box-header with-border">
              <h3 class="box-title">Crisis Title Here</h3>
              <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    Google Place Image
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    Crisis details here
                  </div>
              </div>
            </div>

            <div class="box-header">
              <h3 class="box-title">Instructions</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: none;">
                Some instructions
            </div>
            <div class="box-body" style="display: none;">
                More instructions
            </div>
            <div class="box-header">
              <h3 class="box-title">Strategy</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: none;">
                Some strategies
            </div>
            <div class="box-body" style="display: none;">
                More strategies
            </div>
            <!-- /.box-body -->
          </div>
          <div class="box box-success collapsed-box">
            <div class="box-header with-border">
              <h3 class="box-title">Crisis Title Here</h3>
              <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    Google Place Image
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    Crisis details here
                  </div>
              </div>
            </div>

            <div class="box-header">
              <h3 class="box-title">Instructions</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: none;">
                Some instructions
            </div>
            <div class="box-body" style="display: none;">
                More instructions
            </div>
            <div class="box-header">
              <h3 class="box-title">Strategy</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: none;">
                Some strategies
            </div>
            <div class="box-body" style="display: none;">
                More strategies
            </div>
            <!-- /.box-body -->
          </div>
          <div class="box box-success collapsed-box">
            <div class="box-header with-border">
              <h3 class="box-title">Crisis Title Here</h3>
              <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    Google Place Image
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    Crisis details here
                  </div>
              </div>
            </div>

            <div class="box-header">
              <h3 class="box-title">Instructions</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: none;">
                Some instructions
            </div>
            <div class="box-body" style="display: none;">
                More instructions
            </div>
            <div class="box-header">
              <h3 class="box-title">Strategy</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: none;">
                Some strategies
            </div>
            <div class="box-body" style="display: none;">
                More strategies
            </div>
            <!-- /.box-body -->
          </div>
          <div class="box box-success collapsed-box">
            <div class="box-header with-border">
              <h3 class="box-title">Crisis Title Here</h3>
              <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    Google Place Image
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    Crisis details here
                  </div>
              </div>
            </div>

            <div class="box-header">
              <h3 class="box-title">Instructions</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: none;">
                Some instructions
            </div>
            <div class="box-body" style="display: none;">
                More instructions
            </div>
            <div class="box-header">
              <h3 class="box-title">Strategy</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: none;">
                Some strategies
            </div>
            <div class="box-body" style="display: none;">
                More strategies
            </div>
            <!-- /.box-body -->
          </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <!-- /.content -->

{% endblock %}
