{% extends "base-hq-home.html" %}
{% load staticfiles %}
{% load tags %}

{% load bootstrap3 %}
{% bootstrap_javascript jquery=1 %}
{% bootstrap_css %}

{% block top_title_text %}Home | SG-EF{% endblock %}

{% block page_plugins_css %}
<link rel="stylesheet" href="{% static "pages/ef_hq/main.style.css" %}">
{% endblock %}

{% block page_plugins_js %}
<script src="{% static "plugins/jquery.scrollto/jquery.scrollTo.min.js" %}"></script>
{% endblock %}

{% block page_scripts %}
<script src="{% static "pages/ef_hq/main.script.js" %}"></script>
<script>

$( document ).ready(function() {

  $('body').on('click', '.crisis_efassets_updates > .nav-stacked > li', function(event) {

      var pos_lat = Number($(this).find('.collapsible_text_meta > .lat').text());
      var pos_lng = Number($(this).find('.collapsible_text_meta > .lng').text());

      clearMarkers();

      pos = {lat: pos_lat, lng: pos_lng};
      addMarker(pos);
      sgmap.setCenter(pos);


  });

});

</script>
<script>
var markers = [];
var sgmap;

  function initMap() {
    var sgloc = {lat: 1.349914, lng: 103.830071};
    sgmap = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: sgloc
    });
    addMarker(sgloc);

  }

  function addMarker(location) {
    var marker = new google.maps.Marker({
      position: location,
      map: sgmap
    });
    markers.push(marker);
  }

  function clearMarkers() {
    for (var j = 0; j < markers.length; j++) {
      markers[j].setMap(null);
    }
    markers = [];
  }

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE0K5qcQfxR7eERAp3bvGnOpEHFVr5vF8&callback=initMap">
</script>
{% endblock %}

{% block main_body %}

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-6" style="padding-right: 0px;">
          <div id="map"></div>
        </div>

        <div id="crisis_notification_wrapper" class="col-md-6">

                {% for crisis in crisises %}
                <div id="crisis_id_{{ crisis.id }}" class="box box-info">

                  <div class="box-header with-border">

                    <div class="box-tools">
                      {% if crisis.has_read %}
                      <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Read">
                              <i class="fa fa-check"></i>
                      </button>
                      {% else %}
                      <button onclick="mark_crisis_as_read({{crisis.id}})" type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Mark as read">
                              <i class="fa fa-circle-o"></i>
                      </button>
                      {% endif %}
                    </div>

                    <h3 class="box-title crisis-title" role="button">{{crisis.title}}</h3> {{ crisis.created_datetime }}
                    <div class="location_list">
                    {% for loc in crisis.affected_locations.all %}
                    <input type="hidden" value="{{ loc.lat }},{{ loc.lng }}" />
                    {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                          Google Place Image
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                          {{crisis.description}}
                        </div>
                    </div>
                  </div>

                  <div class="box-header" style="background-color: #f7f7f9;">
                    <a data-toggle="collapse" href="#crisis_id_{{ crisis.id }}_strategies" aria-expanded="true" aria-controls="collapseOne" style="color: black;">
                      <h3 class="box-title">Combat Strategy</h3> ({{crisis.strategies.count}})
                    </a>
                  </div>
                  <div id="crisis_id_{{ crisis.id }}_strategies" class="collapse crisis_meta_text">
                  <ul class="nav nav-pills nav-stacked">

                  {% for cs in crisis.strategies.all %}

                  <li role="button">
                    <div class="pull-right">
                      {% if cs.has_read %}
                      <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Read">
                              <i class="fa fa-check"></i>
                      </button>
                      {% else %}
                      <button onclick="mark_combat_strategy_as_read({{cs.id}})" type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Mark as read">
                              <i class="fa fa-circle-o"></i>
                      </button>
                      {% endif %}
                    </div>
                    <div class="collapsible_text_item">{{cs.detail}}</div>
                    <div class="collapsible_text_meta">{% get_humanize_datetime cs.created_datetime %}</div>
                  </li>

                  {% endfor %}

                  </ul>
                  </div>

                  <div class="box-header" style="background-color: #f7f7f9;">
                    <a data-toggle="collapse" href="#crisis_id_{{ crisis.id }}_efupdates" aria-expanded="true" aria-controls="collapseOne" style="color: black;">
                      <h3 class="box-title">EF Assets Update</h3> ({{crisis.ef_assets_updates.count}})
                    </a>
                  </div>
                  <div id="crisis_id_{{ crisis.id }}_efupdates" class="collapse crisis_meta_text crisis_efassets_updates">
                  <ul class="nav nav-pills nav-stacked">

                  {% for efupdate in crisis.ef_assets_updates.all %}

                  <li role="button">
                    <div class="pull-right">
                      {% if efupdate.has_read %}
                      <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Read">
                              <i class="fa fa-check"></i>
                      </button>
                      {% else %}
                      <button onclick="mark_efassets_update_as_read({{efupdate.id}})" type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Mark as read">
                              <i class="fa fa-circle-o"></i>
                      </button>
                      {% endif %}
                    </div>
                    <div class="collapsible_text_item">
                        {{efupdate.description}}
                    </div>
                    <div class="collapsible_text_meta">
                        <span class="lat">{{efupdate.force_lat}}</span>
                        <span role="presentation" aria-hidden="true"> , </span>
                        <span class="lng">{{efupdate.force_lng}}</span>
                        <span role="presentation" aria-hidden="true"> · </span>
                        {% get_humanize_datetime efupdate.created_datetime %}
                    </div>
                  </li>

                  {% endfor %}

                  </ul>
                  </div>

                </div>

                {% empty %}
                <div class="box box-info" style="height: 100%;">
                  <div class="box-header">

                    <div class="emptyContentMessage">
                      <br/><br/><br/><br/>
                      <div class="msgContent">
                        <i class="fa fa-smile-o"></i><br/>
                        <span>Hooray! No more crisis!</span>
                      </div>
                    </div>

                  </div>
                </div>
                {% endfor %}

        </div>

    </div>

</section>
<!-- /.content -->

{% endblock %}
