#map {
    height: 85vh;
    width: 100%;
}

#crisis_instruction_wrapper {
  height: 85vh;
  overflow-x: auto;
}

.collapsible_text_item, .collapsible_text_meta {
  /*position: relative;*/
  display: block;
}

.crisis_instruction > .nav-stacked > li {
  padding: 10px;
}
