#map {
    height: 85vh;
    width: 100%;
}

#crisis_instruction_wrapper {
  height: 85vh;
  overflow-x: auto;
}

.collapsible_text_item, .collapsible_text_meta {
  /*position: relative;*/
  display: block;
}

.crisis_instruction > .nav-stacked > li {
  padding: 10px;
}

.emptyContentMessage{
    text-align: center;
    display:block;
	   color: #cabcbc;
}
.emptyContentMessage > .msgContent {
	  height: inherit;
    vertical-align:middle;
}
.emptyContentMessage > .msgContent > span{
	font-size: 3em;
}
.emptyContentMessage > .msgContent > i{
	font-size: 8em;
}
